* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(49, 57, 78, 1);
    color: #ccc;
}

header {
    background-color: rgba(26, 30, 43, 1);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8);
    color: #ccc;
}

.container,
.book-container {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
}



.main {
    text-align: center;
    padding: 20px;
}



.add-btn {
    background-color: rgba(30, 34, 49, 1);
    color: #ccc;
    padding: 10px 25px;
    border: none;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 20px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(340px, 1fr));
    gap: 20px;
}


.book-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8);
    background-color: rgba(30, 34, 49, 1);
    padding: 20px;
    justify-content: space-between;
    border-radius: 4px;
    font-size: 18px;
}

.toggle {
    display:flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
    

}

.toggle button {
    color:white;
    padding: 12px 40px;
    border: none;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-size: 17px;
}

.submit_btn {
    transition: background-color 0.3s ease;
    background-color: rgba(41, 167, 89, 1);
}

.delete-btn {
    transition: background-color 0.3s ease;
    background-color: rgba(196, 55, 36, 1);
}
.toggle-read {
    transition: background-color 0.3s ease;
    background-color:rgba(0, 0, 0, 0.1);
}
.toggle-read.active {
    transition: background-color 0.3s ease;
    background-color: rgba(41, 167, 89, 1);
}

button:hover{
    transition: background-color 0.3s ease;
    background-color:rgba(0, 0, 0, 0.1);
}

.modal-container {
   
    position:fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    display:none;
    align-items: center;
    justify-content: center;



}

.modal {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(26, 30, 43, 1);
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8);
    padding: 20px 40px;
    width: 250px;
    max-width: 100%;
}

.modal h2 {
    text-align: center;
}


.modal input {
    color:white;
    background-color: rgba(49, 57, 78, 1);
    border-radius: 5px;
    border: 2px solid rgba(49, 57, 78, 1); ;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .8);
    font-size: 18px;

}

.modal label{
    font-size: 18px;
}

form {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}